<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- include theme_init.html -%}

  {% seo title=false %}
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

  <link rel="preconnect" href="https://cdn.jsdelivr.net">
  <link rel="icon" type="image/x-icon" href="{{ "/favicon.ico" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.css" integrity="sha384-OH8qNTHoMMVNVcKdKewlipV4SErXqccxxlg6HC9Cwjr5oZu2AdBej1TndeCirael" crossorigin="anonymous">
</head>
